*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared styles */

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.logo{
    font-size: 45px;
    font-weight: 700;
}

.color-orange{
    color: #FD6E0A;
}

/* Main styles */

/* Header styles */

header{
    background-color: #FFF8F3;
    padding-top: 50px;
    }

nav{
    width: 70%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}